{
  "branches": [
    "main",
    {
      "name": "next",
      "prerelease": "next"
    }
  ],
  "plugins": [
      "@semantic-release/commit-analyzer",
      "@semantic-release/release-notes-generator",
      [
        "@semantic-release/exec",
        {
          "prepareCmd": "npm run build && node -e \"const fs=require('fs'); const pkg=JSON.parse(fs.readFileSync('package.json','utf8')); pkg.bin='./dist/index.js'; pkg.main='./dist/index.js'; pkg.types='./dist/index.d.ts'; fs.writeFileSync('package.json',JSON.stringify(pkg,null,2));\" && npm pkg fix"
        }
      ],
      "@semantic-release/npm",
      "@semantic-release/github"
    ]
}
